@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
#body{width:100%;}
*{margin:0;padding:0;text-decoration:none;list-style:none;box-sizing:border-box;font-family: 'Noto Sans KR', sans-serif;letter-spacing:-1.5px;line-height: 150%;}
a,p,span{font-weight: 500;}
#wraper{
  
}
h1{
  font-size: 66px;
  color: #000000;
  text-align: center;
  margin: 0 0 50px;  
}
h2{
  font-size: 28px;
  color: #3182f6;
  margin-bottom: 30px;
}
h3{
  font-size: 50px;
  color: #191f28
}
.iphone12 img{
  width: 600px;
  height: 936px;
}
.home img{
  width: 342px;
  height: 740px;  
}
.container{
  width: 92%;
  margin:0 auto;
  position: relative;
}
.inner{
  width: 92%;
  max-width: 1140px;
  margin: 0 auto;  
}

/* 헤더 */
#header{
  position: fixed;
  width: 100%;
  z-index: 100;
  background: #ffffff;
}

#header.fixedOn{
  border-bottom: 1px solid rgba(0,27,55,.1);
}

#header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

#header .logo{
  padding: 18px 0;
}

#header .header-items{
  display: flex;
  justify-content: space-between;
}

#header .header-menu ul{
  display: flex;
  justify-content: space-between;
  
}

#header .language-select ul{
  display: flex;
  justify-content: space-between;
}

#header ul li a{
  padding: 12px 18px;
  font-size: 15px;
  color:#4e5968; 
}

#header .language-select{
  margin-left: 50px;
  
}

#header .language-select span{
  padding : 0 10px
}
/* 헤더 */

/* 첫번째섹션 */
#section1{
  width:100%;
  height: 100vh;
  position: relative;
  background-image:url(../img/new_main.png);  
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section1 .inner{
  width: 100%;
  max-width: 100%;
  height: 500px;  
  background: linear-gradient(180deg, white 0%, white 59px, rgba(255, 255, 255, 0) 100%);
}

#section1 .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 170px;  
}


#section1 .down-button{
  display: flex;
}
    
#section1 .down-button img{
 width: 24px;
 height: 24px;
}

#section1 .down-button a{  
  border-radius: 10px;
  background-color: #000c1ecc;
  padding:11px 22px;
  display: flex;
}
  
#section1 .down-button a:first-child{
  margin-right: 4px;  
}

#section1 a p{
  color:#ffffff;
  font-weight: bold;
  margin: 0 0 0 4px;
  letter-spacing: 0;
}

#section1 .scrolldown-button{
  position: absolute;
  bottom: -420px;
  
}
/* 첫번째섹션 */

/* 두번째섹션 */
#section2{
  background: #f9fafb;
  padding: 200px 0;
}

#section2 h2{
  width:100%;
  font-size: 32px;
  text-align: center;
  color:#191f28;
}

/* 세번째 섹션 */
#section3{
  padding: 250px 0 165px 0;
  background: #ffffff
}

#section3 .inner{  
  margin: 0 auto;
  width: 92%;
  max-width: 1140px;
  height: 1272px;
}

#section3 .container{
  height: 100%;
}

#section3 .sub-title{  
  font-size: 23px;
  line-height: 30px;
  color:#333d4b;
  position: absolute;
  right: 30px;
  bottom: 166px;  
}


#section3 .item1{
  position: absolute;
  right: -104px;
  top:0;
  z-index: 0;
}

#section3 .item2{
  position: absolute;
  left: -100px;
  top: 350px;
  z-index: 0;
}

#section3 .item1 .home{
  position: absolute;
  z-index: -1;
  top:100px;
  right:128px;
}

#section3 .item2 .home{
  position: absolute;
  z-index: -1;
  top:100px;
  left:128px;
}

/* 세번째 섹션 */

/* 네번째섹션 */

#section4{
  padding: 250px 0 250px 0;
  background-color: #f9fafb;
}

#section4 .inner{  
  width: 92%;
  max-width: 1140px;
  margin:0 auto;
}

#section4 img{
  width: 45%;
}

#section4 .item{
  margin: 150px 0 0 0;
}

#section4 .item .main-text{
  padding: 0 0 0 38px;
}

#section4 .item p{
  padding: 0;
}

#section4 .item .text1{
  color: #3182f6;
  font-size: 20px;
}

#section4 .item .text2{
  color: #333d4b;
  font-size: 40px;
  margin:20px 0;
}

#section4 .item .text3{
  color: #6b7684;
  font-size: 22px;
}

#section4 .item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#section4 .item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#section4 .item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 네번째섹션 */

/* 다섯째 섹션 */
#section5{
  padding: 250px 0 250px 0;
  background-color: #ffffff;  
}

#section5 .inner{
  
  width: 92%;
  max-width: 1140px;
  margin:0 auto;
  display: flex;
  flex-direction: column;  
}

#section5 .main-title{
  margin: 0 0 200px 0;
}
#section5 .main-title h2{
  margin-bottom: 20px
}
#section5 .sub-title{
  color:#333d4b
}

#section5 h4{
  font-size: 48px;
}

#section5 span{
  color:#8b95a1
}
#section5 .sub-title h4:nth-last-child(2) span{
  color:#d1d6db
}

#section5 p{
  font-size: 23px;
  margin-top: 30px;
}

#section5 .item1{
  position: absolute;
  top: -45px;
  right: -110px;
  z-index: 10;
}

#section5 .home{
  position: absolute;
  right:130px;
  top:100px;
  z-index: -10;
}
/* 다섯째 섹션 */

/* 여섯째 섹션 */
#section6{
  padding: 250px 0 250px 0;
  background-color: #f9fafb;
}

#section6 .inner{
  width: 92%;
  max-width: 1140px;
  margin:0 auto;
}
#section6 img{
  width:120px;
  height: 120px;
  margin-bottom: 30px;
}

#section6 .main-title{
  padding: 0;
  margin-bottom: 80px;
}

#section6 .items{
  display: flex;
  flex-wrap: wrap;
}

#section6 .item{
  flex-basis: calc(50% - 30px);
  margin: 0 30px 150px 0;
}

#section6 h4{
  font-size: 28px;
  color:#333d4b
}

#section6 p{
  margin-top: 10px;
  font-size: 22px;
  color:#6b7684
}
/* 여섯째 섹션 */

/* 일곱째 섹션 */
#section7{
  padding: 250px 0 250px 0;
}

#section7 .inner{
  position: relative;  
  margin:0 auto;  
  width: 92%;
  max-width: 1140px;  
}

#section7 .titles{  
  top: 46%;
  left: 9%;
  width: 83%;
  position: absolute;
  display: flex;
  justify-content: space-between;  
}

#section7 .titles p{
  color:#333d4b;
  font-size: 23px;
}

#section7 .item{
  position: relative;
  width: 100%;
  height: 936px;
}

#section7 .iphone12,#section7 .home{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

#section7 .iphone12{
  z-index: -1;
}
#section7 .home{
  z-index: -10;
}

#section7 .items .item1-img{
  position: absolute;
  top:90px;
  left:50%;
  transform: translate(-50%,0);  
}

#section7 .popular-chart{
  position: absolute;
  display: flex;
  justify-content: center;  
  width: 100%;
  top:70%;
  z-index: -5;
}

#section7 .popular-chart .chart img{ 
  width:178px;
  height:178px;
}

#section7 .popular-chart .chart{
  margin-right: 16px;
}

#section7 .popular-chart .chart:last-child{
  margin-right: 0;
}

#section7 .bottom-title{
  color:#333d4b;
  font-size: 23px;
  text-align: center;
  margin: 0 auto;
}
/* 일곱째 섹션 */

/* 여덟째 섹션 */
#section8{
  position: relative;
  width: 100%;
  height: 800px;
  background: url("/토스/img/section8-img1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;  
}

#section8 .main-title{
  position: absolute;
  font-size: 100px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: #f9fafb;  
}
/* 여덟째 섹션 */

/* 아홉째 섹션 */
#section9{
  padding: 250px 0 250px 0;
}

#section9 .inner{
  margin:0 auto;  
  width: 92%;
  max-width: 1140px;  
}

#section9 .main-title h2{
  color:#191f28;
  font-size: 60px;
}

#section9 .item1 .img1{
  text-align: center;
  margin-top: 150px;
}

#section9 .item1 img{  
  width:740px;
  height:807px;
}

#section9 .item1 .title1 h3{
  color:#191f28;
  font-size: 40px;
  margin: 60px 0 24px 0;
}
#section9 .item1 .title2 p{
  color: #333d4b;
  font-size: 20px;
}

#section9 .item1 .title1 span{
  color:#b0b8c1;
}

#section9 .item2{
  margin: 230px 0 0 0;
  display: flex;
  justify-content: space-between  
}

#section9 .item2 .item2-left img{
  width: 100%;
}

#section9 .item2 .item2-left{
  margin-right: 40px;
}

#section9 .item2 .item2-left .titles{
  margin-top: 30px;
  font-size: 40px;
}

#section9r .item2 .item2-left .titles .title1{
  color:#191f28;
}

#section9 .item2 .item2-left .titles .title2{
  margin-top: 5px;
  color:#b0b8c1;
}

#section9 .item2 .item2-right{
  margin: 122px 0 0 0;
}

#section9 .item2 .item2-right img{
  width: 100%;
}

#section9 .item2 .item2-right .title{
  margin-top:30px;
  font-size: 20px;
  line-height: 25px;
  color:#333d4b;
}

#section9 .item3{
  margin-top:220px;
  text-align: center;
}

#section9 .item3 .img1 img{
  /* width:1048px;
  height: 705px;
  object-fit: fill; */
  width: 100%;
}

#section9 .item3 .titles{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  text-align: left;  
}

#section9 .item3 h3{
  font-size: 40px;
}

#section9 .item3 h4{
  font-size: 40px;
  color: #b0b8c1;
}

#section9 .item3 p{
  color: #333d4b;
}



#section9 .item3 .titles .title2{
  color:#333d4b;
  font-size: 20px;  
}
/* 아홉째 섹션 */

/* 열번째 섹션 */
#section10{
  padding: 250px 0 250px 0;
  background-color: #f9fafb;
}

#section10 .inner{
  margin:0 auto;
  width: 92%;
  max-width: 1140px;
}

#section10 .main-title{
  margin-bottom: 100px;
}

#section10 h2{
  font-size: 26px;
  color:#3182f6;
}

#section10 h3{
  font-size: 50px;
  color:#191f28;
  margin-top: 20px;
}

#section10 .items{
  display: flex;
  flex-wrap: wrap;
}

#section10 .item{
  width: calc(1048px / 2 );
  padding: 0 200px 100px 0;
}
#section10 .item:last-child{
  padding-bottom: 0;
}

#section10 .item .title{
  margin-top: 35px;
}

#section10 .item .title h4{
  font-size: 20px;
  color:#333d4b;
}

#section10 .item .title p{
  font-size: 18px;
  margin-top: 20px;
  color:#8b95a1;
}

.box{
  border-radius: 26px;
  width:120px;
  height: 120px;
}
.box1{
  background-color: #ffe69b;
}
.box2{
  background-color: #f2f4f6;
}
.box3{
  background-color: #aeefd5;
}
.box4{
  background-color: #edccf8;
}
.box5{
  background-color: #f2f4f6;
}
.box6{
  background-color: #e8f3ff;
}
.box7{
  background-color: #aeefd5;
}
/* 열번째 섹션 */

/* 열한번째 섹션 */
#section11{
  padding: 100px 0 250px 0;
  background-color: #000000;
}

#section11 .inner{
  
  margin:0 auto;
  width: 92%;
  max-width: 1140px;
}

#section11 .main-img img{
  width: 100%;
}

#section11 .main-title{
  text-align: center;
}

#section11 .main-title h2{
  color:#ffffff;
  font-size: 60px;
}

#section11 .main-title h3{
  color:#b0b8c1;
  font-size: 30px;
  margin: 25px 0 200px 0;
}

#section11 .sub-title{
  display: flex;
}

#section11 .sub-title .item{
  padding: 0 80px 80px 0;
  
}

#section11 .sub-title h4{
  color:#ffffff;
  font-size: 30px;
}

#section11 .sub-title p{
  color:#b0b8c1;
  font-size: 18px;
  margin: 20px 0 50px 0;
}

#section11 .sub-title a{
  color:#f9fafb;
  background-color: #3182f6;
  padding: 11px 16px;
  border-radius: 7px;
}
/* 열한번째 섹션 */

/* 푸터 */
#footer{
 background-color: #191f28;
 padding: 50px 0 100px 0;
}

#footer .inner{
  padding: 0 67px;
  margin:0 auto;
  width:92%;
  max-width: 1140px;
}

#footer .site-group-list{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

#footer .site-group-list .list{
  display: flex;
  flex-direction: column;
  width: 170px;
}

#footer .site-group-list .list:last-child{
  flex: 1;
}

#footer .site-group-list .list p{
  color:#b0b8c1
}

#footer .site-group-list .list > *{
  font-size: 15px;
  width: 170px;
  line-height: 30px;
  color:#6b7684;
}
#footer .site-group-list .customer-group > *{
  width: 420px;
}

#footer .address p{
  font-size:15px;
  color:#b0b8c1;
  margin-bottom: 20px;
}

#footer .address a{
  font-size:13px;
  color:#8b95a1;
}

#footer .term ul{
  display: inline-grid;
  grid-template-columns: repeat(4 ,auto);
  grid-column-gap: 34px;
  margin: 30px 0;
}

#footer .term ul li > *{
  font-size: 13px;
  color:#6b7684;
  line-height: 21px;
}

#footer .term ul li strong{
  color:#b0b8c1;
}
/* 푸터 */