@charset "UTF-8";

@font-face {
  font-family: 'toss';
  src:url(../font/TossFaceFontMac.ttf);
}
*{
  margin:0;padding:0;text-decoration:none;list-style:none;
  box-sizing: border-box;
}
span,p,h1,h2,h3,a{
  font-family: 'toss';  
  font-weight: bold;
}
a{
  color:#666666;
}


/* 공통영역 */
section .main-title{
  padding: 0 0 0 100px;
}

section h1{
  font-size: 26px;
  color:#3182f6;
}

section h2{
  margin: 30px 0 0 0;
  font-size: 45px;
}
/* 공통영역 */

/* 네비게이션바 */
#navbar{
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar-outer{
  margin: 0 auto;
  background: #ffffff;
}

.navbar-inner{
  width: 92%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.navbar-inner .logo{
  padding: 20px 0;
}

.navbar-inner .navbar-items{
  display: flex;
  justify-content: space-between;
}

.navbar-inner .navbar-items .navbar-menu ul{
  display: flex;
  justify-content: space-between;

}

.navbar-inner .navbar-items .language-select ul{
  display: flex;
  justify-content: space-between;
}

.navbar-inner div ul li a{
  padding: 12px 10px;
  font-size: 15px;
}

.navbar-inner .language-select{
  margin-left: 50px;
}

.navbar-inner .language-select span{
  padding : 0 10px
}
/* 네비게이션바 */

/* 첫번째섹션 */
#section1{
  width:100%;
  height: 100vh;
  background-color: white;
  background-image:url(../img/new_main.png);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section1-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 165px;
  background: linear-gradient(180deg, white 0%, white 59px, rgba(255, 255, 255, 0) 50%)
}

.section1-box h1{
  font-size: 62px;
  text-align: center;
  padding: 0 0 50px;
  color:black;
}

.section1-box .down-button{
  display: flex;
}
    
.section1-box .down-button a{
  border : 1px solid #666666;
  border-radius: 10px;
  background-color: #000c1ecc;
  padding:18px 25px;
  display: flex;
}
  
.section1-box .down-button a:first-child{
  margin-right: 4px;  
}

.section1-box a span{
  color:#ffffff;
  font-weight: bold;
  margin: 0 0 0 4px;
}

.section1-box .scrolldown-button{
  margin: 240px 0 0 0;
  
}
/* 첫번째섹션 */

/* 두번째섹션 */
.section2-inner{
  background: #f9fafb;
  padding: 200px 0;
}

.section2-inner h2{
  width:100%;
  font-size: 32px;
  text-align: center;
  color:#191f28;
}

/* 세번째 섹션 */
.section3-outer{
  padding: 250px 0 165px 0;
  background: #ffffff
}

.section3-inner{
  position: relative;
  width:92%;
  max-width: 1140px;
  height: 1200px;
  margin: 0 auto;
}

.section3-inner .sub-title{
  font-weight: bold;
  font-size: 19px;
  line-height: 30px;
  color:#333d4b;
  bottom:200px;
  position: absolute;
  right: 100px; 
}

.section3-inner .item1{
  position: absolute;
  right: 0;
  top:20px;
  z-index: 0;
}

.section3-inner .item2{
  position: absolute;
  left: 0;
  top: 300px;
  z-index: 0;
}

.section3-inner .item1 .home{
  position: absolute;
  z-index: -1;
  top:84px;
  right: 116px;
}

.section3-inner .item2 .home{
  position: absolute;
  z-index: -1;
  top:84px;
  left:116px;
}
/* 세번째 섹션 */

/* 네번째섹션 */

.section4-outer{
  padding: 250px 0 165px 0;
  background-color: #f9fafb;
}

.section4-inner{  
  width: 92%;
  max-width: 1140px;
  margin:0 auto;
}

.section4-inner .item{
  margin: 100px 0 0 0;
}

.section4-inner .item .main-text{
  padding: 0 0 0 38px;
}

.section4-inner .item p{
  padding: 0;
}

.section4-inner .item .text1{
  color: #3182f6;
  font-size: 16px;
}

.section4-inner .item .text2{
  color: #333d4b;
  font-size: 34px;
  margin:20px 0;
}

.section4-inner .item .text3{
  color: #6b7684;
  font-size: 18px;
}

.section4-inner .item1{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section4-inner .item2{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section4-inner .item3{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* 네번째섹션 */

/* 다섯째 섹션 */
.section5-outer{
  padding: 250px 0 165px 0;
  background-color: #ffffff;
  
}

.section5-inner{
  position: relative;
  width: 92%;
  max-width: 1140px;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.section5-inner .main-title{
  margin: 0 0 200px 0;
}

.section5-inner > span,.section5-inner > p{
  padding: 0 0 0 100px;
  color:#333d4b
}

.section5-inner > p{
  font-size: 38px;
  margin:10px 0;
}

.section5-inner > p > span{
  color:#8b95a1
}

.section5-inner > p:nth-of-type(3) > span {
  color: #d1d6db;
}

.section5-inner > p:nth-of-type(4){
  margin:25px 0;
  font-size: 20px;
  line-height: 30px;
}

.section5-inner .items{
  position: absolute;
  right:0;
  top:0;
  z-index: 0;
}

.section5-inner .items .item.item1{
  position: absolute;
  right:115px;
  top:85px;
  z-index: -1;
}
/* 다섯째 섹션 */

/* 여섯째 섹션 */
.section6-outer{
  padding: 250px 0 300px 0;
  background-color: #f9fafb;
}

.section6-inner{
  width: 92%;
  max-width: 1140px;
  margin:0 auto;
}


.section6-inner .main-title{
  padding: 0;
}

.section6-inner .items{
  display: flex;
  flex-wrap: wrap;
}

.section6-inner .item{
  flex-basis: 50%;
}

.section6-inner .item .title > p{
  font-size: 24px;
  color:#333d4b
}

.section6-inner .item .sub-title > p{
  margin-top: 10px;
  font-size: 18px;
  color:#6b7684
}

.section6-inner .item .item-img{
  margin:100px 0 30px 0;
}
/* 여섯째 섹션 */

/* 일곱째 섹션 */
.section7-outer{
  padding: 250px 0 250px 0;
}

.section7-inner{
  position: relative;  
  margin:0 auto;  
  width: 92%;
  max-width: 1140px;  
}

.section7-inner .titles{
  width:80%;
  margin: 0 auto;  
  padding:350px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.section7-inner .titles p{
  color:#333d4b;
  font-size: 20px;
}

.section7-inner .title1 p{
  padding-left: 35px;
}

.section7-inner .items{
  position: absolute;
  top:200px;
  left:50%;
  transform: translate(-50%,0);
  
}


.section7-inner .items .item1-img{
  position: absolute;
  top:90px;
  left:50%;
  transform: translate(-50%,0);
  
}

.section7-inner .popular-chart{
  position: relative;
  width: 100%;
  padding-top: 170px;
  margin: 0 auto;
  display: flex;
  justify-content: center;  
}

.section7-inner .popular-chart .chart{
  padding:0 8px;
}

.section7-inner .bottom-title{
  padding: 140px 0 0 0;
  color: #333d4b;
  font-size: 18px;
  line-height: 28px;
  margin: 0 auto;
}
.section7-inner .sub-title{
  display: flex;
  justify-content: center;
  margin-top: 140px;
}

.section7-inner .sub-title p{
  color:#333d4b;
  font-size: 21px;
  text-align: center;
}
/* 일곱째 섹션 */

/* 여덟째 섹션 */

.section8-outer{
  padding: 50px 0 165px 0;
}
#section8{
  padding: 0 0 250px 0;

}

.section8-inner{
  position: relative;
  width: 100%;
  height: 800px;
  background-image: url("/토스/img/section8-img1.jpg");
  background-position: center;
  background-size: cover;
}

.section8-inner .main-title{
  position: absolute;
  height: 800px;
  background: url(https://static.toss.im/assets/homepage/newtossim/section2_4_big.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section8-inner h1{
  position: absolute;
  font-size: 93px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: #f9fafb;
  font-size: 75px;
}
/* 여덟째 섹션 */


/* 아홉째 섹션 */

.section9-outer{
  padding: 50px 0 165px 0;
}

.section9-inner{
  margin:0 auto;  
  width: 92%;
  max-width: 1140px;  
}

.section9-inner .main-title{
  padding-left: 60px;
}

.section9-inner .main-title h1{
  color:#191f28;
  font-size: 50px;
}

.section9-inner .item1 .img1{
  text-align: center;
  margin-top: 130px;
}
.section9-inner .item1 .img1 img{
  object-fit: fill;
  width:740px;
  height:807px;
}

.section9-inner .item1 .titles{
  padding-left: 60px;
}

.section9-inner .item1 .title1{
  color:#191f28;
  font-size: 33px;
  margin: 50px 0 30px 0;
}
.section9-inner .item1 .title2{
  color: #333d4b;
  font-size: 17px;
  line-height: 25px;
}

.section9-inner .item1 .title1 span{
  color:#b0bbc1;
}

.section9-inner .item2{
  margin-top: 250px;
  display: flex;
  justify-content: space-around;
  
}

.section9-inner .item2 .item2-left img{
  width:672px;
  height:838px;
  object-fit: fill;
}

.section9-inner .item2 .item2-left .titles{
  margin-top: 30px;
  font-size: 30px;
}

.section9-inner .item2 .item2-left .titles .title1{
  color:#191f28;
}

.section9-inner .item2 .item2-left .titles .title2{
  margin-top: 5px;
  color:#b0b8c1;
}

.section9-inner .item2 .item2-right{
  padding: 150px 0 0 30px;
}

.section9-inner .item2 .item2-right img{
  width:336px;
  height: 432px;
}

.section9-inner .item2 .item2-right .title{
  margin-top:30px;
  font-size: 17px;
  color:#333d4b;
}

.section9-inner .item3{
  margin-top:200px;
  text-align: center;
}

.section9-inner .item3 .img1 img{
  width:1048px;
  height: 705px;
  object-fit: fill;
}

.section9-inner .item3 .titles{
  display: flex;
  justify-content: space-between;
  margin: 35px 58px 0 45px;
  text-align: left;
  
}

.section9-inner .item3 .titles .title1{
  font-size: 34px;
}

.section9-inner .item3 .titles .title1 p{
  color: #191f28;
}

.section9-inner .item3 .titles .title1 span{
  color: #b0bbc1;
}

.section9-inner .item3 .titles .title2{
  color:#333d4b;
  font-size: 17px;
  line-height: 24px;
}
/* 아홉째 섹션 */

/* 여덟째 섹션 */

/* 아홉째 섹션 */


/* 아홉째 섹션 */
